# Contadores

In [2]:
import pandas as pd

In [3]:
s = pd.Series(list('djajdkajsdasdkasdkl'))
s

0     d
1     j
2     a
3     j
4     d
5     k
6     a
7     j
8     s
9     d
10    a
11    s
12    d
13    k
14    a
15    s
16    d
17    k
18    l
dtype: object

In [4]:
s.unique()

array(['d', 'j', 'a', 'k', 's', 'l'], dtype=object)

In [5]:
s.value_counts()

d    5
a    4
j    3
k    3
s    3
l    1
dtype: int64

In [9]:
dados = pd.read_csv('dados/aluguel.csv', sep = ';')
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
1,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
2,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
3,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
4,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento
...,...,...,...,...,...,...,...,...,...,...,...
19826,Quitinete,Glória,1,0,0,10,400.0,107.0,10.0,40.00,Apartamento
19827,Quitinete,Flamengo,1,0,0,23,900.0,605.0,0.0,39.13,Apartamento
19828,Quitinete,Centro,1,0,0,24,1100.0,323.0,0.0,45.83,Apartamento
19829,Quitinete,Copacabana,1,0,0,22,1500.0,286.0,200.0,68.18,Apartamento
19830,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0,29.63,Apartamento

In [8]:
dados.Bairro.unique()

array(['Centro', 'Higienópolis', 'Cachambi', 'Grajaú',
       'Lins de Vasconcelos', 'Copacabana', 'Freguesia (Jacarepaguá)',
       'Barra da Tijuca', 'Tijuca', 'Olaria', 'Ipanema', 'Botafogo',
       'Recreio dos Bandeirantes', 'Leblon', 'Jardim Oceânico', 'Humaitá',
       'Méier', 'Vargem Pequena', 'Maracanã', 'Jacarepaguá',
       'Jardim Botânico', 'Vila Valqueire', 'Gávea', 'Cosme Velho',
       'Bonsucesso', 'Todos os Santos', 'Laranjeiras', 'Itanhangá',
       'Catete', 'Jardim Carioca', 'Praça Seca', 'Vila Isabel', 'Lagoa',
       'Taquara', 'Engenho Novo', 'Campo Grande', 'Flamengo',
       'Engenho de Dentro', 'Pilares', 'Água Santa', 'São Cristóvão',
       'Ilha do Governador', 'Vila da Penha', 'Anil', 'Vaz Lobo',
       'Madureira', 'São Francisco Xavier', 'Pechincha', 'Leme', 'Irajá',
       'Urca', 'Penha', 'São Conrado', 'Rio Comprido', 'Andaraí',
       'Quintino Bocaiúva', 'Inhaúma', 'Glória', 'Marechal Hermes',
       'Curicica', 'Moneró', 'Santa Teresa', 'Camorim', 'Cascadura',
       'Praia da Bandeira', 'Saúde', 'Fátima', 'Inhoaíba', 'Rocha',
       'Jardim Guanabara', 'Jabour', 'Praça da Bandeira', 'Vila Kosmos',
       'Vista Alegre', 'Encantado', 'Campinho', 'Vargem Grande',
       'Riachuelo', 'Bangu', 'Lapa', 'Catumbi', 'Tomás Coelho', 'Ramos',
       'Tanque', 'Pavuna', 'Santa Cruz', 'Cidade Nova', 'Cordovil',
       'Caju', 'Padre Miguel', 'Paciência', 'Península', 'Del Castilho',
       'Arpoador', 'Estácio', 'Sampaio', 'Bento Ribeiro', 'Piedade',
       'Abolição', 'Jardim Sulacap', 'Oswaldo Cruz', 'Rocha Miranda',
       'Gamboa', 'Icaraí', 'Barra de Guaratiba', 'Jardim América',
       'Realengo', 'Senador Vasconcelos', 'Santíssimo', 'Braz de Pina',
       'Largo do Machado', 'Parada de Lucas',
       'Freguesia (Ilha do Governador)', 'Maria da Graça', 'Portuguesa',
       'Guadalupe', 'Penha Circular', 'Vidigal', 'Gardênia Azul', 'Usina',
       'Pitangueiras', 'Turiaçu', 'Vigário Geral', 'Guaratiba',
       'Vicente de Carvalho', 'Cosmos', 'Jacaré', 'Anchieta', 'Cocotá',
       'Honório Gurgel', 'Engenho da Rainha', 'Zumbi', 'Tauá', 'Ribeira',
       'Benfica', 'Alto da Boa Vista', 'Cacuia', 'Pedra de Guaratiba',
       'Bancários', 'Santo Cristo', 'Cavalcanti', 'Coelho Neto',
       'Magalhães Bastos', 'Colégio', 'Joá', 'Paquetá', 'Parque Anchieta',
       'Senador Camará', 'Cachamorra', 'Rio da Prata', 'Vila Militar'],
      dtype=object)

In [11]:
dados.Bairro.value_counts()

Barra da Tijuca             3383
Copacabana                  2445
Recreio dos Bandeirantes    1638
Ipanema                     1227
Tijuca                      1097
                            ...
Coelho Neto                    1
Caju                           1
Senador Camará                 1
Cachamorra                     1
Rio da Prata                   1
Name: Bairro, Length: 151, dtype: int64

In [12]:
m1 = 'CCcCCccCCCccCcCccCcCcCCCcCCcccCCcCcCcCcccCCcCcccCc'
m2 = 'CCCCCccCccCcCCCCccCccccCccCccCCcCccCcCcCCcCccCccCc'
m3 = 'CccCCccCcCCCCCCCCCCcccCccCCCCCCccCCCcccCCCcCCcccCC'
m4 = 'cCCccCCccCCccCCccccCcCcCcCcCcCcCCCCccccCCCcCCcCCCC'
m5 = 'CCCcCcCcCcCCCcCCcCcCCccCcCCcccCccCCcCcCcCcCcccccCc'

In [13]:
eventos = {'m1': list(m1), 
            'm2': list(m2), 
            'm3': list(m3), 
            'm4': list(m4), 
            'm5': list(m5)}
moedas = pd.DataFrame(eventos)
df = pd.DataFrame(data = ['Cara', 'Coroa'], 
                    index = ['c', 'C'], 
                    columns = ['Faces'])
for item in moedas:
    df = pd.concat([df, moedas[item].value_counts()], 
                    axis = 1)
df

   Faces  m1  m2  m3  m4  m5
c   Cara  25  26  19  23  25
C  Coroa  25  24  31  27  25